

<div class="pagina animacion">

    <div class="ruta_contendor">
        <img src="logo-oij.ico" alt="logo_oij">
        <h5>Documentos / Prueba</h5>
    </div>
   

   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptates alias hic sapiente exercitationem culpa neque sequi ratione pariatur eum laborum tempora molestias ducimus animi iure inventore quia iste excepturi similique, error earum cupiditate nihil debitis impedit. Voluptatem aliquam, perferendis debitis facere earum atque, nulla, corporis quasi commodi dolore impedit!</p>  
    
</div>

