.full-widthdoble {
  width: 80%;  
  max-width: 1000px;
  margin-bottom: 17px;
}


.full-width {
  width: 80%;  
  max-width: 1000px;
  margin-bottom: 17px;
  padding: 10px;
}


.contenedor_formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor_formulario h2{
  color: rgb(89, 94, 110);
  margin-bottom: 30px;
  text-align: start;
}

.contenedor_boton{
  width: 100%;
  max-width: 2000px;
  display: flex;
  justify-content: start;
}

.contenedor_boton_relaciones{
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: start;
}

.buscar-input {
  margin-left: auto; /* Empuja el input hacia la derecha */
  width: 300px; /* Ancho opcional para el input */
  display: flex;
  justify-content: flex-end;
}


.formulario-contenedor-doble{
  display: flex;
  /* background-color: red; */
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  max-width: 1000px;
}

.contenedor-doble-input{
  width: 100%;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 

}

.full-widthdoble {
  width: 100%;  
  max-width: 1000px;
  /* background-color: green; */
  padding: 10px;
}



.containerBotonFiltrar{
  width: 100%;
  max-width: 1000px;
  margin-bottom: 60px;
}



.containerInfoBototesReporte{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
  .reporte-info{
    color: gray;
    margin-right: 40px;
  }
    .reporte-info h3{
      color: rgb(85, 85, 85);
    }

  .export-buttons button{
    margin-right: 10px;
  }  





.tabla-container {
    overflow-x: auto;
    margin-bottom: 20px;
  }
  
  .tabla-documentos {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tabla-documentos th,
  .tabla-documentos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .tabla-documentos th {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  
  .tabla-documentos tr:nth-child(even) {
    background-color: #fafafa;
  }