<!-- doctos-modal.component.html -->
<div class="containerModalRelaciones">
    <div class="containerBotonCerrar">
        <button mat-button (click)="closeModal()">X</button><br><br>
    </div>

    <h2 class="tituloModalRelaciones">Documentos relacionados</h2><br><br>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="doctoNombre">
            <th mat-header-cell *matHeaderCellDef> Doctoc </th>
            <td mat-cell *matCellDef="let element"> {{ element.doctoNombre }} </td>
        </ng-container>

        <ng-container matColumnDef="docRelacionado">
            <th mat-header-cell *matHeaderCellDef> Doc relacionado </th>
            <td mat-cell *matCellDef="let element"> {{ element.docRelacionado }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements">
    </mat-paginator>
</div>