/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
  --nav-width: 92px;/**/
  
  /*===== Colores =====*/
  --first-color: #0C5DF4;
  --bg-color: #12192C;
  --bg-color-principal-secundario: #1f2637;
  --bg-color-secundario: #daa520;
  --sub-color: #B6CEFC;
  --white-color: #FFF;
    
  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
}



.pagina{
  width: 100%;
  padding-bottom: 50px;
}

.ruta_contendor{
  display: flex;
  align-items: center;

  margin-bottom: 15px;
}

.ruta_contendor img{
  width: 30px;
  margin-right: 5px;
}

.ruta_contendor h5{
  color: rgb(89, 94, 110);
}

.icono_contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
}




/*configuraciones para los botones de guardar en general*/
.boton_amarillo {
  background-color: white !important; 
  color: gray !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 10px;
 
}
/* Estilos para el botón deshabilitado */
.boton_amarillo:disabled,
.boton_amarillo[disabled] {
  background-color: #cccccc !important; /* Un amarillo más claro */
  color: #ffffff !important; /* Un gris oscuro para el texto */
  opacity: 0.7;
  cursor: not-allowed;
}
/* Para asegurarnos de que los estilos se apliquen incluso con la especificidad de Angular Material */
.mat-flat-button.mat-button-disabled.mat-button-disabled.boton_amarillo {
  background-color: #cccccc !important;
  color: #ffffff !important;
}






/* Centrar los botones en el eje vertical */
.acciones-container-botones {
  display: flex;
  justify-content: start; /* Centra los botones horizontalmente */
  align-items: center;     /* Centra los botones verticalmente */
  height: 100%;            /* Asegura que el contenedor ocupe toda la altura de la celda */
}
/* Opcional: ajusta el espaciado entre los botones si es necesario */
.acciones-container-botones button {
  margin: 0 5px; /* Espacio entre los botones */
}

.boton_tabla{
  color: rgb(134, 134, 134);
  background-color: rgba(253,251,255,255);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  padding: 5px 10px;
  cursor: pointer;
}


.boton_tabla_a{
  color: rgb(134, 134, 134);
}





/*Animacion*/
.animacion {
  position: relative; 
  animation: slideInLeft 1s ease forwards;
}
@keyframes slideInLeft {
  from {
    transform: translateX(-5%);
    opacity: 0; 
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
